language: node_js
os:
  - linux
  - osx
node_js: 8.1.2
services:
- redis-server
env:
  global:
  - secure: L2PYVgVYPdOhTdt7qcCQq2gPNJOu1VoW+XC28/rVF15iw7bN+HafaIPXSBYtYJFX5tH6/3vvQX40zwh0Is4RR/zYDp5++3ErO5dbP29oog1d202YNHmvm20Ptv0/1x8UZnM4M3cuZsqz1WQlh/n2+XlEQWoDMBOs4SNyBuQukHA4+HRkK/LgwaKlVqGHP7+YX1WZiZBIp+eAtUdanqaToXRQ6S955bWHxIvC6qZvz4LtvzslvXaO8/GcJFIV5LZIIZqubO4WVTFiqQsGpIElY2QlZF3YD7DJx2Duebb6eWzNWjx0Igxuq9pphDGuPNwKYcx3IcmfptzqVGbhvqGgCCYNggsdmmsONzL7YhNsZzkY1XtpLhnzNmEwPz4pHKddU1ZcoDQgCIuVd9AEZ9YPugC847OgcCPPy+LZtrLDdHvhMrbZEVOgLbBb7wA/TXS6gYpZVo9VLPooptoVGN5eR8RWk9tFuVFgU2figPlLZNZ74Jr4QNaQiAOjGdCyC3BWXGkaTe4FYEbTqeeBiHib7W8WkCwTthjlaVhKQfoN45uh/KSnb3hd8qHq7YoX/Fn1jCivdTTYJjUzGfysGDau6InsHB5sSEKYUor6QfBAWKdlNhr4f8bgkmiYJQpNEgqVyvij2iIHT+TXWU11oelzA0KsTV6PbEfN2S3FE35sLD4=
after_success:
- yarn coverage
