language: node_js
node_js: 8.1.2
sudo: required
services:
- redis-server
env:
  global:
  - secure: IMButGFBY+rd/pzmyFn6cdpYJi6CW4O/pUD3EVO3GqDoTt52d7bQjqY25KB8pul2jULAlgGlllSAJHtncD/wQjuKxgITLXv3ABs4bXjlgknZR9FxD5UivwEfncxUEtSW/cIstGW7d5D8VzclIMX5IYs39I2gn5BnmYSWneKe1GAoBh0auclBECI+cShl2J/MdDW1mAn95Bpsl5wR4lGZgB0MxcTSs4RmDLJjRjFSsy3TDCskXu/CR4f4YRHN3fcDeTelKCZyq7ezENULMmjPrp5QdKQ7u+I5xyrYVOEhzAKsw7KMvlHipvgbjzJCnHdzNh23Gk7ZV82zJVdIwJ3Iq1We4MxRVoZNDnnHmGvZcksSvkL0p2sKznrHUXX+oLxgapcbBT79YKLgnSJAIZmdqQns/d1lF7n2319vp0yghykXjyz8rjPLEcrUF1PSxiU1Q06bb+SghwEk2r4tTw1fVwov0ZPZMS+fMgw7xgr1M1OHFV4RuuDdTOsCibcEpWzjq+CPS0+tZaBU66diBxutcJkZsD2mgkUJ9xHrWMVxQNCpwMwK5kQX3NwQwBKEsb/oXkwd4rrcV5jlLu/QeJHVnFGHFHOv2XCMKxBH3PuMvIE7lLJgn+hw82NVehR+c+HwVpbFXNVdWi/d4y5AxkQ3H/XKfP0biFS8P0tbvmDq5yE=
addons:
  sonarqube:
    organization: sonarqube
    token:
      secure: PyzspeXfWVfGKEC2pqvGIVLDm2xWj3usL0GKKJ/T+yKN97olH/EcMP0Dw/5ZW4cfE8Y6y8aC8Z+tuJuz5iy9ePZio1GlGaQavYhxivhdCBMXlyDwy1LTao7sFYWavJGc+aZh5Bxs9PzaQA2YOHl9u4SAJMdfRBMwUQnMP7CQe4SaiV3HUIBmQqsyYpUGgvcW2phO4m8Vh05MGNj1llWOjF+CwnLeuSEylZtcJlfac9BqmR/r19A438ST5dKUcKBiQdlwkmzS4oWyrRue2V5ftAjN8BnrWcKaq3S9aghx+tzL1rDcIpA2bcJyqWiUox/z59QyXNsK6OnI5o8AepW6nOibq2w73rlophREbISrpYo1FldW3aNoYSQ1l7N0rVdsEwePTugEfP8oM8W/Aj0aEjKATiZaTgjj5WgqchfDoLRW5dxP9GNjLkskJivW80SckE+yR1xKHgKywQMxNQ0s/42CDSuhdJnRjLOTf+C7ugR0GnydaoBV1OVuGj73AurwLlQzTYzA/hWzTWqASh29Oxou/lp++b+UwfuZ313LsmvFAQPzbkMVa3xHpEJkvEeFdyRBBH1a7xgAmlm/2kXxaEMLEnIkT7Dc/zlph8Pfiea3DkFoHy9+Ih9U+BWPuVWl4L11FSrRWgjWPjVvOnOk67c1s2z1/LRmkUp6cR5jy8A=

jdk:
- oraclejdk8
script:
- sonar-scanner
cache:
  directories:
  - "$HOME/.sonar/cache"
